{% extends "layout.html" %}

{% block pageTitle %}
  Health Assessment Service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/start-prototype" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="prototype-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select what topic you are interested in
            </h1>
          </legend>
          <div id="prototype-hint" class="govuk-hint">

          </div>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prototype" name="prototype" type="radio" value="prototype1">
              <label class="govuk-label govuk-radios__label" for="prototype">
                Single claimant record
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="prototype-2" name="prototype" type="radio" value="prototype2">
              <label class="govuk-label govuk-radios__label" for="prototype-2">
                Workflow (health referral status and caseload things)
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

    </div>
  </div>


{% endblock %}
